@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
	width: 100%;
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
	padding: 20px 0 20px 0;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
	display: flex;
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align: center;
}

nav h1 {
  margin: auto;
}

nav h1 a {
  color: #fff;
  font-size: 18pt;
  font-weight: 200;
  letter-spacing: 5px;
  text-transform: uppercase;
}

#breadcrumb {
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
		padding: 15px;
		width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
		font-size: 16pt;
	  color: #0275d8;
	  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
	display: flex;
	flex-direction: column;
  width: 100%;
  background-color: #054954;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
	padding: 15px 0 15px 0;
	letter-spacing: 1px;
}
.filter-options select {
  background-color: #05505b;
	color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 1px solid #8eb8cc;
  font-family: Arial,sans-serif;
	margin: 0;
	padding: 0;
  min-height: 380px;
  text-align: center;
	margin: 15px 0 15px 0;
	width: 100%;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}
#restaurants-list li h1 {
	background-color: #8eb8cc;
  color: white;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 1px;
	padding: 15px 0 15px 0;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
	color: #404c54;
}
#restaurants-list li a {
	min-width: 50%;
	border: 1px solid #c45842;
  color: #c45842;
  display: inline-block;
  font-size: 10pt;
  margin: 15px;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#restaurants-list li p:first-child {
	color: #c45842;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 100%;
}
#restaurant-address {
  font-size: 14pt;
	font-style: italic;
  margin: 10px 0px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	color: #c45842;
}
#restaurant-hours {
	width: 100%;
}
#restaurant-hours td {
	text-align: center;
	font-size: 14pt;
}
#restaurant-cuisine {
  background-color: #8eb8cc;
  color: white;
  font-size: 16pt;
  font-weight: 300;
  letter-spacing: 10px;
	padding: 10px 0 10px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-container, #reviews-container {
  width: 100%;
	padding: 0;
	margin-top: 25px;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: 1px;
	padding: 15px;
	text-align: center;
	text-transform: uppercase;
}
#reviews-list {
	display: flex;
	flex-direction: column;
	align-items: center;
  margin: 0;
  padding: 0;
	padding-bottom: 60px;
}
#reviews-list li {
  background-color: #fff;
  border: 1px solid #c45842;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  position: relative;
  width: 85%;
}
#reviews-list li p {
	color: #404c54;
  margin: 0 0 10px;
	padding: 15px 0 15px 15px;
	padding: 20px;
}
#reviews-list li p:first-child {
	float: left;
	font-size: 13pt;
	color: white;
}
#reviews-list li p:nth-child(2) {
	background-color: #05505b;
	text-align: right;
	padding: 15px 15px 15px 0;
	color: white;
}
#reviews-list li p:nth-child(3) {
	color: #c45842;
}
#restaurant-hours td {
  color: #666;
	padding: 10px 0 10px 0;
	border-bottom: 1px solid #8eb8cc;
	text-align: center;
	font-size: 12pt;
}


					/*MEDIA QUERIES FOR RESPONSIVE WEB DESIGN*/


@media screen and (min-width: 750px) {
	.filter-options {
		flex-direction: row;
		justify-content: center;
	}
	#restaurants-list {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	#restaurants-list li {
		margin: 15px;
		width: 40%;
	}
	#reviews-list li p:first-child {
		font-size: 14pt;
	}
	#reviews-list li {
		width: 40%;
		min-height: 355px;
		margin: 15px;
	}
	#reviews-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: center;
		margin-bottom: 60px;
	}
}


@media screen and (min-width: 1000px) {
	#restaurant-container {
		width: 100%;
	}
	#restaurant-img {
		position: absolute;
		right: 0;
		top: 150px;
		margin: 0 auto;
		width: 50%;
	}
	#restaurant-hours {
		width: 50%;
		padding: 0 15px 0 15px;
	}
	#restaurant-address {
		text-align: left;
		margin-left: 25px;
		margin-top: 40px;
	}
	#restaurant-hours td {
		font-size: 12pt;
	}
	#restaurant-cuisine {
		background-color: none;
	}
	#restaurant-container {
		border: none;
		margin-top: 140px;
	}
	#reviews-container {
		margin-top: 125px;
	}
}
